body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Raleway", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #ffffff;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

a  {
    text-decoration: none;

}
section {
    padding-top: 120px;
    padding-bottom: 120px;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
main {
    flex-grow: 1;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*===== header =====*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
    display: flex;
}
.page-nav {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upper-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.studio-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.head-title-link {
    display: flex;
    gap: 40px;
    margin-right: 0;
}

.nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    text-transform: initial;
    text-decoration: none;
}
.nav-menu:hover,
:focus {
    display: flex;
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address-menu {
    font-style: normal;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 332px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.address-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.address-info:hover,
:focus {
    color: #404bbf;
    /* --- one section --- */
}
.one-section {
    background-color: #2e2f42;
    padding: 188px 0;
}
.button-type {
    max-width: 1440px;
    background: #2e2f42;
    display: block;
    padding: 188px 0 188px;
}
.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: block;
    max-width: 496px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
}
.one-section-button {
    font-family: inherit;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #4d5ae5;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    height: 56px;
    min-width: 169px;
}
.one-section-button:hover,
:focus {
    background-color: #404bbf;
}
/* --- two section --- */

.two-section {
    padding: 120px 0;
}
.page-title-two {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-menu {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
.page-title-advantages {
    margin-bottom: 8px;
}
.text-advantages {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.advantages-list-item {
flex-basis: calc((100% - 3 * 24px) / 4);
}
.advantages-list-item:last-child {
    margin-right: 0;
}
/* --- three section --- */
.three-section {
    padding: 120px 0;
    background-color: #F4F4FD;
}
.page-title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;   
}

.menu-team-card {
    gap: 24px;
    margin: 0;
    display: flex;
    margin-bottom: 72px;
}
.team-card {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
}
.names-workers {
    padding: 32px 0;
}
.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.profession-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
.menu-team-card {
    list-style-type: none;
}
/* --- four section --- */
.four-section {
    padding-top: 120px 0 120px 0;
}
.page-title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.list-images {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}
.portfolio-card {
    background-color: #ffffff;
    margin-top: 72px;
    margin-bottom: 0;
    width: calc((100% - 48px) / 3);
}
.categories-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.portfolio-application {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.portfolio-direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
/* --- footer --- */
.lower-box {
    padding: 100px 0;
    background-color: #2e2f42;
}
.page-footer-container {
    display: inline-block;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}
.footer-studio-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-top: 140px;
}
